h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

p {
  color: #8f8f8f;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Headers */

.big-header {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 350%;
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 2rem;
}

.section-header {
  font-size: 300%;
  font-weight: bold;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Backgrounds */

.color-background {
  background-color:#ff4c68;
  color:#fff;
}

.white-background {
  background-color:#fff;
}

/* Title */

.title-image {
  height: 65%;
  transform: rotate(10deg);
  position: absolute;
  right: 25%
}

#title .container-fluid {
padding: 3% 15%;
text-align: left;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 250%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 120%;
  font-family: "Montserrat-light", sans-serif;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Features Section */

#features {
  position:relative;
}

.feature-title {
  font-size: 150%;
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

.testimonial-text {
  font-size: 300%;
  line-height: 1.5;
}

.testifier {
  font-style: italic;
}

#testimonials {
  background-color:#ef8172;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.cool-cat {
  width: 13%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 3%;
}

.pricing-column {
  padding: 3% 2%;
}

.plan-text {
  font-weight: bold;
  text-decoration: underline;
}

/* Footer */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1000px) {
  .title-image {
    position: static;
    padding-top: 1rem;
    transform: rotate(0deg);
  }

  #title {
    text-align: left;
  }

  h2 {
    font-size: 200%;
    font-weight: bold;
    line-height: 1;
  }
}
